
html
{
  font-size   : 80%;
  font-family : "Montserrat", sans-serif;
}

html
{
  text-size-adjust : none;
}

*, *::before, *::after
{
  -webkit-box-sizing : border-box;
  -moz-box-sizing    : border-box;
  -ms-box-sizing     : border-box;
  -o-box-sizing      : border-box;
  box-sizing         : border-box;
}

body
{
  line-height            : 1.5;
  -webkit-font-smoothing : antialiased;
}

input, button, textarea, select
{
  font : inherit;
}

p, h1, h2, h3, h4, h5, h6
{
  overflow-wrap : break-word;
}

#root, #__next
{
  isolation : isolate;
}

body
{
  font-size        : 1.6rem;
  background-color : #282828;
  color            : #fbf1c7;
}

header
{
  border-bottom : 0.2rem solid #98971a;
}

nav a
{
  font-size       : 1.39999rem;
  font-weight     : bold;
  color           : #fbf1c7;
  text-decoration : none;
  text-transform  : uppercase;
}

body img
{
  max-width  : 100%;
  max-height : 100%;
  display    : block;
  margin     : auto auto auto auto;
  height     : auto;
}

body figcaption
{
  text-align : center;
}

footer
{
  margin-top : 3rem;
  padding    : 1.19999rem 0px 1.19999rem 0px;
  border-top : 0.2rem solid #98971a;
  font-size  : 1.19999rem;
  color      : #fbf1c7;
}

h1
{
  font-size : 2.39999rem;
}

h2
{
  font-size : 2rem;
}

article .header
{
  font-size  : 1.39999rem;
  font-style : italic;
  color      : #fbf1c7;
}

.logo a
{
  font-weight     : bold;
  color           : #fbf1c7;
  text-decoration : none;
}

pre
{
  font-family      : monospace;
  white-space      : pre;
  overflow         : auto;
  margin           : 1rem 0 1rem 0;
  background-color : #1d2021;
  padding          : 1rem 1rem 1rem 1rem;
}

code
{
  word-break : break-word;
}

a:link
{
  color            : #689d6a;
  background-color : rgba(0,0,0,0.0);
  text-decoration  : none;
}

a:visited
{
  color            : #83a598;
  background-color : rgba(0,0,0,0.0);
  text-decoration  : none;
}

a:hover
{
  color            : #8ec07c;
  background-color : rgba(0,0,0,0.0);
  text-decoration  : none;
}

a:active
{
  color            : #458588;
  background-color : rgba(0,0,0,0.0);
  text-decoration  : none;
}

.sidenote, .marginnote
{
  float          : right;
  clear          : right;
  margin-right   : -60%;
  width          : 50%;
  margin-top     : 0.29999rem;
  margin-bottom  : 0;
  font-size      : 1.1rem;
  line-height    : 1.3;
  vertical-align : baseline;
  position       : relative;
}

body
{
  counter-set : sidenote-counter;
}

.sidenote-number
{
  counter-increment : sidenote-counter;
}

.sidenote:before
{
  content        : counter(sidenote-counter) " ";
  position       : relative;
  vertical-align : baseline;
  font-weight    : bold;
  font-size      : 1rem;
  top            : -0.5rem;
  font-size      : 0.9em;
}

.sidenote-number:after
{
  content        : counter(sidenote-counter);
  position       : relative;
  vertical-align : baseline;
  font-weight    : bold;
  font-size      : 1rem;
  top            : -0.5rem;
  left           : 0.1rem;
}

blockquote .sidenote, blockquote .marginnote
{
  margin-right : 82%;
  min-width    : 59%;
  text-align   : left;
}

.sidenote > code
{
  font-size : 1rem;
}

label.sidenote-number
{
  display    : inline-block;
  max-height : 2rem;
}

label.margin-toggle:not(.sidenote-number)
{
  display : none;
}

input.margin-toggle
{
  display : none;
}

@media all and (max-width: 319px)
{

body
{
  width   : 80%;
  margin  : 0 0 0 0;
  padding : 0 5% 0 5%;
}

header
{
  margin : 4.2rem 0 4.2rem 0;
}

nav
{
  margin     : 0 auto 3rem auto;
  text-align : center;
}

footer
{
  text-align : center;
}

.logo
{
  text-align : center;
  margin     : 1rem auto 3rem auto;
}

.logo a
{
  font-size : 2.39999rem;
}

nav a
{
  display     : block;
  line-height : 1.6;
}

}
@media all and (min-width: 320px)
{

body
{
  width   : 80%;
  margin  : 0 0 0 0;
  padding : 0 5% 0 5%;
}

header
{
  margin : 4.2rem 0 4.2rem 0;
}

nav
{
  margin     : 0 auto 3rem auto;
  text-align : center;
}

footer
{
  text-align : center;
}

.logo
{
  text-align : center;
  margin     : 1rem auto 3rem auto;
}

.logo a
{
  font-size : 2.39999rem;
}

nav a
{
  display     : block;
  line-height : 1.6;
}

nav a
{
  margin : 0 0.59999rem 0 0.59999rem;
}

}
@media all and (min-width: 640px)
{

body
{
  width   : 65rem;
  margin  : 0 auto 0 auto;
  padding : 0 0 0 0;
}

header
{
  margin  : 0 0 3rem 0;
  padding : 1.19999rem 0 1.19999rem 0;
}

nav
{
  margin     : 0 0 0 0;
  text-align : right;
}

nav a
{
  margin  : 0 0 0 1.19999rem;
  display : inline;
}

footer
{
  text-align : right;
}

.logo
{
  margin     : 0 0 0 0;
  text-align : left;
}

.logo a
{
  float     : left;
  font-size : 1.8rem;
}

}

/* Generated with Clay, http://fvisser.nl/clay */